.navbar {
  background-color: #3e3c3c;
}

.headline {
  background-image: url(./images/headline-background.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #1c1a19;
  height: calc(100vh - 56px);
}

.headline-section-heading {
  color: #f55800;
}

.about-section-text {
  background-image: url(./images/aboutBackground.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.about-section-text > h2 {
  color: #f55800;
}

.symbol {
  color: #f55800;
}

.about {
  background-color: #262626;
}
